:root {
    --purple: #d893d8;
    --black: black;
    --blue: #61b7e9;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: white;
    overflow-x: hidden;
    font-family: "Raleway", sans-serif;
}

/**Barra Menú**/
#cabecera {
    position: relative;
    width: 100%;
}
.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo-box {
    margin-left: 20px;
}
.menu .logo-box h1 a {
    text-decoration: none;
    font-size: 35px;
    font-weight: 400;
    color: var(--black);
}
.menu .lista-container {
    margin-right: 20px;
}
.menu .lista-container .list {
    display: flex;
}
.menu .lista-container .list li {
    list-style: none;
}
.menu .lista-container .list li a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 8px;
    color: var(--black);
    border-radius: 24px;
    font-size: 16px;
    transition: 0.3s;
}
.menu .lista-container .list li a.activo {
    background: var(--purple);
    color: #fff;
}
.menu .lista-container .list li a:hover {
    background: var(--purple);
    color: #fff;
}

.btn-menu > .fa-bars {
    display: none;
    font-size: 3em;
    position: absolute;
    padding: 5px;
    top: 15px;
    left: 15px;
    z-index: 99999;
    position: fixed;
    color: var(--purple);
}
/**Barra Menú**/
@media only screen and (max-width: 900px) {
    .menu {
        height: 100vh;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        display: none;
    }

    .menu .lista-container .list {
        flex-direction: column;
    }

    .menu .lista-container .list li {
        margin-top: 3em;
    }

    .menu .lista-container .list li a {
        font-weight: bold;
        font-size: 1.3em;
    }

    .menu .logo-box {
        margin-left: 0;
    }

    .btn-menu > .fa-bars {
        display: block;
    }

    .aux {
        display: flex;
    }
}

/**img header-fondo**/
.img-fondo {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../img/1.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-fondo .Bienvenidos {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-fondo .Bienvenidos h1 {
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-fondo .Bienvenidos hr {
    width: 400px;
    height: 2px;
    background: #fff;
    border: none;
    margin-top: 5px;
}
.img-fondo .Bienvenidos p {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.img-fondo .Bienvenidos > button {
    width: 170px;
    height: 40px;
    background: var(--purple);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.img-fondo .Bienvenidos > button:hover {
    background: var(--blue);
}
/**img header-fondo**/

/**paquetes**/
.paquetes {
    width: 100%;
    margin-top: 120px;
}
.paquetes .informacion {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.paquetes .informacion h1 {
    font-size: 50px;
    font-weight: 400;
    color: var(--black);
    text-align: center;
    margin-bottom: 20px;
}
.paquetes .informacion p {
    text-align: center;
    font-size: 17px;
    color: var(--black);
    line-height: 35px;
    margin: 10px, 0px;
}
.paquetes .informacion .galeria {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px;
}
.paquetes .informacion .galeria img {
    width: calc(33.33% - 10px);
    height: 300px;
    object-fit: cover;
    margin: 10px 10px;
    border-radius: 10px;
    cursor: pointer;
}
/**paquetes**/

/**TATTOS**/
.our-tattos {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/20.jpg);
    background-attachment: fixed;
    background-position: conter;
    background-size: cover;
    margin-top: 100px;
}
.our-tattos .deg-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.our-tattos .ejeZtattos {
    position: relative;
    width: 100%;
    height: 100%;
}
.our-tattos .container-tattos {
    width: 90%;
    margin: auto;
    padding-top: 100px;
}
.our-tattos .container-tattos .tattos-tittle {
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    width: 50%;
    margin: auto;
}
.our-tattos .container-tattos .tattos-tittle h2 {
    font-size: 40px;
    color: #fff;
    font-weight: normal;
}
.our-tattos .container-tattos .tattos-tittle hr {
    background: #fff;
    width: 50%;
    margin: 10px auto;
}
.our-tattos .container-tattos .tattos-img {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 80px;
    padding-bottom: 100px;
}
.our-tattos .container-tattos .tattos-img img {
    width: calc(30% - 10px);
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}
/**TATTOS**/

/**RECOMENDACIONES**/
.recomendaciones {
    width: 100%;
    margin-top: 120px;
}
.recomendaciones .recomendaciones-title {
    width: 50%;
    margin: 40px auto;
    text-align: center;
}
.recomendaciones .recomendaciones-title h2 {
    margin-bottom: 8px;
    font-size: 40px;
    color: var(--black);
    font-weight: normal;
}
.recomendaciones .recomendaciones-title hr {
    width: 60%;
    margin: auto;
    height: 2px;
    background: var(--black);
    border: none;
}
.recomendaciones .box-recomendaciones {
    width: 60%;
    margin: 80px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.recomendaciones .box-recomendaciones .card-recomendaciones {
    width: 45%;
    margin: 20px;
}
.recomendaciones .box-recomendaciones .card-recomendaciones .card-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recomendaciones .box-recomendaciones .card-recomendaciones .card-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.recomendaciones
    .box-recomendaciones
    .card-recomendaciones
    .recomendaciones-text {
    width: 100%;
    border: 2px solid var(--purple);
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 200ms;
}
.recomendaciones
    .box-recomendaciones
    .card-recomendaciones
    .recomendaciones-text
    h4 {
    color: var(--purple);
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    transition: 200ms;
}
.recomendaciones
    .box-recomendaciones
    .card-recomendaciones
    .recomendaciones-text
    p {
    font-size: 19px;
    color: var(--black);
    text-align: center;
    line-height: 35px;
    transition: 200ms;
}
.recomendaciones
    .box-recomendaciones
    .card-recomendaciones
    .recomendaciones-text:hover {
    border: 2px solid var(--blue);
}
.recomendaciones
    .box-recomendaciones
    .card-recomendaciones
    .recomendaciones-text:hover
    h4 {
    color: var(--blue);
}
/**RECOMENDACIONES**/

/**FORMULARIO**/
.footer {
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/20.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.footer .deg-footer {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.footer .ejeZfooter {
    position: relative;
    width: 100%;
    height: 100%;
}
.footer .footer-content {
    width: 90%;
    padding-top: 100px;
    margin: auto;
}
.footer .footer-content .footer-tittle {
    width: 50%;
    margin: auto;
    border: 2px solid #fff;
    padding: 15px;
}
.footer .footer-content .footer-tittle h2 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 10px;
}
.footer .footer-content .footer-tittle hr {
    width: 80%;
    margin: auto;
}
.footer .footer-content .formulario-content {
    width: 60%;
    background: #fff;
    border-radius: 24px;
    border: 2px solid var(--purple);
    margin: 50px auto;
    padding: 30px;
}
.footer .footer-content .formulario-content #formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer .footer-content .formulario-content #formulario label {
    text-align: center;
    color: var(--black);
    font-size: 22px;
    margin: 30px 0px 10px 0px;
}
.footer .footer-content .formulario-content input {
    width: 90%;
    height: 40px;
    margin: auto;
    border: 2px solid var(--purple);
    border-radius: 24px;
    outline: none;
    text-align: center;
    font-size: 16px;
    color: var(--black);
}
.footer .footer-content .formulario-content #formulario textarea {
    width: 90%;
    height: 200px;
    margin: auto;
    border: 2px solid var(--purple);
    border-radius: 24px;
    outline: none;
    font-size: 15px;
    color: var(--black);
    padding: 20px;
}
.footer .footer-content .formulario-content #formulario .send {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 40px 0px;
}
.footer .footer-content .formulario-content #formulario .send button {
    width: 150px;
    height: 40px;
    background: var(--purple);
    border-radius: 24px;
    border: none;
    outline: none;
    font-size: 22px;
    color: #fff;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.footer .footer-content .formulario-content #formulario .send button:hover {
    background: var(--blue);
}

/**FORMULARIO**/

/**Media query**/
@media only screen and (max-width: 900px) {
    /* .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 28px;
        cursor: pointer;
    }
    .menu .lista-container{
        position: absolute;
        top: 60px;
        left: 100%;
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
    }
    .menu .lista-container .list{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 5px solid var(--purple);
    }
    .menu .lista-container .list li{
        width: 90%;
        margin: 10px 0px;
        border-bottom: 1px solid var(--purple);
        text-align: center;
    }
    .menu .lista-container .list li a{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .menu .lista-container .list li a.activo{
        background: none;
        color: var(--purple);
    }
    .menu .lista-container .list li a:hover{
        background: none;
        color: var(--purple);
    } */
}
/**Media query**/
